 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A "get it done right the first time" full-stack engineer with over ten years of experience, I love to build systems that really help and impact end-users. In my experience, you can build the most performant, well-written application, but without complementary UI and UX, your users will not get the value you expect.</p>
                </div>
                <div class="col-lg-4">
                    <p>I’ve been known to run small-but-critical teams of engineers while still keeping my "hands dirty" by tackling some of the most tricky engineering problems presented to the business. Currently, I'm interested in freelance problem-solving in the realm of workflow, operations and modern Web Application development.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="page-scroll">
                        <a href="#contact" class="btn btn-lg btn-outline">
                            <i class="fa fa-send"></i> Get in touch
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>